Repository rh-api-management/marin3r-product-build: changes, and which Tekton pipelines are due for each by the changed paths.
All: marin3r-operator-bundle-on-push, marin3r-operator-on-pull-request

marin3r-operator-bundle-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/3scale-prod-tenant/marin3r-operator-bundle:{{revision}}
  - name: dockerfile
    value: Containerfile.marin3r-operator-bundle
  - name: hermetic
  ...

marin3r-operator-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/3scale-prod-tenant/marin3r-operator:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

Red Hat Konflux update marin3r-operator-image Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/marin3r-operator-image-pull-request.yaml
  .tekton/marin3r-operator-image-push.yaml
Due: none

add hermetic builds for bundle
  .tekton/marin3r-operator-bundle-pull-request.yaml
  .tekton/marin3r-operator-bundle-push.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: marin3r-operator-bundle-on-push

add missing tasks
  .tekton/single-arch-build-pipeline.yaml
Due: marin3r-operator-bundle-on-push

add index build
  .tekton/single-arch-build-pipeline.yaml
Due: marin3r-operator-bundle-on-push

add hermetic builds to operator
  .tekton/marin3r-operator-image-pull-request.yaml
  .tekton/marin3r-operator-image-push.yaml
Due: none

test
  .tekton/marin3r-operator-image-pull-request.yaml
  .tekton/marin3r-operator-image-push.yaml
Due: none

test2
  Containerfile.marin3r-operator
Due: marin3r-operator-on-pull-request

test3
  Containerfile.marin3r-operator
Due: marin3r-operator-on-pull-request

test4
  Containerfile.marin3r-operator
Due: marin3r-operator-on-pull-request

test5
  Containerfile.marin3r-operator
Due: marin3r-operator-on-pull-request

add hermetic builds to operator image
  .tekton/marin3r-operator-image-pull-request.yaml
  .tekton/marin3r-operator-image-push.yaml
Due: none

remove the /api path
  .tekton/marin3r-operator-image-pull-request.yaml
  .tekton/marin3r-operator-image-push.yaml
Due: none

testing move to 1.22.9 for builder
  Containerfile.marin3r-operator
Due: marin3r-operator-on-pull-request

revert go 1.22 change
  Containerfile.marin3r-operator
Due: marin3r-operator-on-pull-request

edit the go build command
  Containerfile.marin3r-operator
Due: marin3r-operator-on-pull-request

further containerfile edits and adding /api/ go.mod
  .tekton/marin3r-operator-image-pull-request.yaml
  .tekton/marin3r-operator-image-push.yaml
  Containerfile.marin3r-operator
Due: marin3r-operator-on-pull-request

remove go mod download
  Containerfile.marin3r-operator
Due: marin3r-operator-on-pull-request

Update Konflux references
  .tekton/marin3r-operator-bundle-pull-request.yaml
  .tekton/marin3r-operator-bundle-push.yaml
  .tekton/marin3r-operator-image-pull-request.yaml
  .tekton/marin3r-operator-image-push.yaml
Due: marin3r-operator-bundle-on-push

MGDAPI-6741 update Mariner midstream - fix build error
  Containerfile.marin3r-operator
Due: marin3r-operator-on-pull-request

test main branch Konflux build
  Containerfile.marin3r-operator
Due: marin3r-operator-on-pull-request

MGDAPI-6741 update Mariner midstream to use replaces rather than skipRange
  bundle-hack/update_bundle.sh
Due: marin3r-operator-bundle-on-push

MGDAPI-6907 fix Konflux build errors
  .tekton/on-push.yaml
  Containerfile.marin3r-operator-bundle
  pyproject.toml
  requirements-build.in
  requirements-build.txt
  requirements.txt
Due: marin3r-operator-bundle-on-push

MGDAPI-6907 fix Konflux build errors
  .gitignore
  .python-version
  .tekton/marin3r-operator-image-pull-request.yaml
  .tekton/on-pr.yaml
  .tekton/on-push.yaml
  .tekton/pull_request.yaml
  Containerfile.marin3r-operator-bundle
  bundle-hack/update_bundle.sh
  pyproject.toml
  requirements-build.in
  requirements-build.txt
  requirements.txt
Due: marin3r-operator-bundle-on-push

MGDAPI-6907 update versions in update_bundle.sh
  bundle-hack/update_bundle.sh
Due: marin3r-operator-bundle-on-push

MGDAPI-6907 trigger new build
  README.md
Due: none

MGDAPI-6907 trigger Konflux build for marin3r 0.13.4 for RHOAM 1.44
  README.md
Due: none

MGDAPI-6951 avoid extra builds in Konflux
  .tekton/marin3r-operator-bundle-pull-request.yaml
  .tekton/marin3r-operator-image-pull-request.yaml
  .tekton/marin3r-operator-image-push.yaml
  .tekton/on-pr.yaml
Due: marin3r-operator-bundle-on-push

MGDAPI-6907 re-trigger Konflux build, marin3r 0.13.4 for RHOAM 1.44
  README.md
Due: none

Path conditions:
  marin3r-operator-bundle-on-push: (((((((((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/marin3r-operator-bundle-pull-request.yaml)) or (any of: .tekton/marin3r-operator-bundle-push.yaml)) or (any of: Containerfile.marin3r-operator-bundle)) or (any of: marin3r)) or (any of: bundle-hack/***)) or (any of: rpms.in.yaml)) or (any of: rpms.lock.yaml)) or (any of: requirements.txt)) or (any of: requirements-build.txt)) or (any of: requirements-build.in)) or (any of: pyproject.toml)
  marin3r-operator-on-pull-request: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/marin3r-operator-pull-request.yaml)) or (any of: .tekton/marin3r-operator-push.yaml)) or (any of: Containerfile.marin3r-operator)) or (any of: marin3r)
